In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
!pip install config

Collecting config
  Downloading config-0.5.1-py2.py3-none-any.whl (20 kB)
Installing collected packages: config
Successfully installed config-0.5.1

[notice] A new release of pip available: 22.1.2 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

In [41]:
dirname = "../IPEDS_Dataset_Encoded/"
def access(filename):
    return pd.read_csv(dirname+filename)
access("Fall Enrollment/EFD_2015-2020_data.csv")

,unitid,grcohrt,ugentern,pgrcohrt,rrftct,rrftex,rrftin,rrftcta,ret_nmf,ret_pcf,rrptct,rrptex,rrptin,rrptcta,ret_nmp,ret_pcp,year
0,100654,1525.0,1712.0,89.0,1688.0,2.0,0.0,1686.0,911.0,54.0,6.0,0.0,0.0,6.0,2.0,33.0,2020
1,100663,2102.0,3529.0,60.0,2294.0,0.0,0.0,2294.0,1982.0,86.0,42.0,0.0,0.0,42.0,20.0,48.0,2020
2,100690,NaN,NaN,NaN,2.0,0.0,0.0,2.0,1.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,2020
3,100706,1328.0,2186.0,61.0,1489.0,0.0,0.0,1489.0,1218.0,82.0,8.0,0.0,0.0,8.0,2.0,25.0,2020
4,100724,926.0,1123.0,82.0,1000.0,2.0,0.0,998.0,619.0,62.0,19.0,0.0,0.0,19.0,1.0,5.0,2020
5,100751,6466.0,7948.0,81.0,6734.0,1.0,0.0,6733.0,5873.0,87.0,30.0,0.0,0.0,30.0,17.0,57.0,2020
6,100760,225.0,642.0,35.0,328.0,0.0,0.0,328.0,194.0,59.0,68.0,0.0,0.0,68.0,26.0,38.0,2020
7,100812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
8,100830,641.0,1072.0,60.0,602.0,1.0,0.0,601.0,419.0,70.0,24.0,0.0,0.0,24.0,8.0,33.0,2020
9,100858,4869.0,6014.0,81.0,4761.0,2.0,0.0,4759.0,4377.0,92.0,47.0,2.0,0.0,45.0,34.0,76.0,2020
10,100937,256.0,298.0,86.0,332.0,0.0,0.0,332.0,264.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,2020
11,101028,191.0,501.0,38.0,260.0,0.0,0.0,260.0,144.0,55.0,67.0,0.0,0.0,67.0,24.0,36.0,2020
12,101116,5.0,37.0,14.0,10.0,0.0,0.0,10.0,6.0,60.0,1.0,0.0,0.0,1.0,1.0,100.0,2020
13,101143,316.0,780.0,41.0,359.0,0.0,0.0,359.0,214.0,60.0,45.0,0.0,0.0,45.0,16.0,36.0,2020
14,101161,1065.0,2824.0,38.0,1336.0,0.0,0.0,1336.0,728.0,54.0,209.0,0.0,0.0,209.0,60.0,29.0,2020
15,101189,277.0,867.0,32.0,258.0,0.0,0.0,258.0,156.0,60.0,15.0,0.0,0.0,15.0,5.0,33.0,2020
16,101240,637.0,1445.0,44.0,812.0,0.0,0.0,812.0,435.0,54.0,231.0,0.0,0.0,231.0,87.0,38.0,2020
17,101277,NaN,NaN,NaN,49.0,0.0,0.0,49.0,38.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,2020
18,101286,381.0,1205.0,32.0,686.0,0.0,0.0,686.0,378.0,55.0,224.0,0.0,0.0,224.0,104.0,46.0,2020
19,101295,925.0,2212.0,42.0,967.0,0.0,0.0,967.0,619.0,64.0,275.0,0.0,0.0,275.0,147.0,53.0,2020
20,101301,179.0,528.0,34.0,242.0,0.0,0.0,242.0,139.0,57.0,35.0,0.0,0.0,35.0,6.0,17.0,2020
21,101365,16.0,219.0,7.0,1.0,0.0,0.0,1.0,1.0,100.0,0.0,0.0,0.0,0.0,0.0,NaN,2020
22,101435,219.0,248.0,88.0,256.0,0.0,0.0,256.0,179.0,70.0,0.0,0.0,0.0,0.0,0.0,NaN,2020
23,101453,1.0,16.0,6.0,1.0,0.0,0.0,1.0,1.0,100.0,0.0,0.0,0.0,0.0,0.0,NaN,2020
24,101462,63.0,389.0,16.0,74.0,0.0,0.0,74.0,37.0,50.0,52.0,0.0,0.0,52.0,14.0,27.0,2020
25,101471,91.0,132.0,69.0,176.0,0.0,0.0,176.0,115.0,65.0,59.0,0.0,0.0,59.0,27.0,46.0,2020
26,101480,1290.0,2572.0,50.0,1469.0,0.0,0.0,1469.0,1078.0,73.0,24.0,0.0,0.0,24.0,12.0,50.0,2020
27,101505,938.0,3939.0,24.0,954.0,0.0,0.0,954.0,565.0,59.0,633.0,0.0,0.0,633.0,272.0,43.0,2020
28,101514,896.0,3008.0,30.0,1214.0,0.0,0.0,1214.0,746.0,61.0,761.0,1.0,0.0,760.0,302.0,40.0,2020
29,101541,72.0,97.0,74.0,46.0,0.0,0.0,46.0,29.0,63.0,0.0,0.0,0.0,0.0,0.0,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37544,487296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
37545,487302,NaN,NaN,NaN,106.0,0.0,NaN,106.0,51.0,48.0,44.0,0.0,NaN,44.0,22.0,50.0,2015
37546,487311,121.0,216.0,56.0,66.0,0.0,NaN,66.0,59.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37547,487320,1044.0,2912.0,36.0,1528.0,4.0,NaN,1524.0,828.0,54.0,857.0,5.0,NaN,852.0,361.0,42.0,2015
37548,487348,NaN,NaN,NaN,1.0,0.0,NaN,1.0,1.0,100.0,5.0,0.0,NaN,5.0,5.0,100.0,2015
37549,487357,2.0,14.0,14.0,3.0,0.0,NaN,3.0,1.0,33.0,0.0,0.0,NaN,0.0,0.0,NaN,2015
37550,487366,NaN,NaN,NaN,1.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,2015
37551,487384,NaN,NaN,NaN,84.0,0.0,NaN,84.0,49.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37552,487393,NaN,NaN,NaN,97.0,1.0,NaN,96.0,51.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37553,487409,NaN,NaN,NaN,67.0,0.0,NaN,67.0,41.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37554,487418,NaN,NaN,NaN,140.0,0.0,NaN,140.0,100.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37555,487427,NaN,NaN,NaN,64.0,0.0,NaN,64.0,32.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37556,487436,NaN,NaN,NaN,83.0,0.0,NaN,83.0,51.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37557,487445,NaN,NaN,NaN,58.0,0.0,NaN,58.0,33.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37558,487454,NaN,NaN,NaN,53.0,0.0,NaN,53.0,38.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37559,487463,NaN,NaN,NaN,78.0,0.0,NaN,78.0,48.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37560,487472,NaN,NaN,NaN,298.0,0.0,NaN,298.0,213.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37561,487481,NaN,NaN,NaN,138.0,0.0,NaN,138.0,107.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37562,487490,NaN,NaN,NaN,103.0,1.0,NaN,102.0,40.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37563,487506,NaN,NaN,NaN,63.0,0.0,NaN,63.0,62.0,98.0,0.0,0.0,NaN,0.0,0.0,NaN,2015
37564,487524,524.0,791.0,66.0,548.0,1.0,NaN,547.0,402.0,73.0,5.0,0.0,NaN,5.0,2.0,40.0,2015
37565,487533,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,2015
37566,487588,NaN,NaN,NaN,97.0,0.0,NaN,97.0,70.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37567,487597,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
37568,487603,75.0,379.0,20.0,16.0,0.0,NaN,16.0,8.0,50.0,6.0,0.0,NaN,6.0,1.0,17.0,2015
37569,487621,NaN,NaN,NaN,1.0,0.0,NaN,1.0,1.0,100.0,0.0,0.0,NaN,0.0,0.0,NaN,2015
37570,487630,NaN,NaN,NaN,21.0,0.0,NaN,21.0,13.0,62.0,0.0,0.0,NaN,0.0,0.0,NaN,2015
37571,487658,NaN,NaN,NaN,17.0,0.0,NaN,17.0,16.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN,2015
37572,487667,NaN,NaN,NaN,22.0,0.0,NaN,22.0,12.0,55.0,2.0,0.0,NaN,2.0,0.0,0.0,2015
37573,487676,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [38]:
import sys, os
sys.path.append('/Users/shariarvaez-ghaemi/Desktop/DataOpen/IPEDS_Dataset_Encoded')

In [39]:
efd = pd.read_csv("../IPEDS_Dataset_Encoded/Fall Enrollment/EFD_2015-2020_data.csv")
efd_100654 = efd.loc[efd["unitid"]==100654,]

In [40]:
efd_100654.head()

,unitid,grcohrt,ugentern,pgrcohrt,rrftct,rrftex,rrftin,rrftcta,ret_nmf,ret_pcf,rrptct,rrptex,rrptin,rrptcta,ret_nmp,ret_pcp,year
0,100654,1525.0,1712.0,89.0,1688.0,2.0,0.0,1686.0,911.0,54.0,6.0,0.0,0.0,6.0,2.0,33.0,2020
5845,100654,1688.0,1809.0,93.0,1401.0,0.0,0.0,1401.0,797.0,57.0,3.0,0.0,0.0,3.0,2.0,67.0,2019
11730,100654,1402.0,1676.0,84.0,1288.0,0.0,0.0,1288.0,784.0,61.0,6.0,0.0,0.0,6.0,6.0,100.0,2018
17783,100654,1288.0,1604.0,80.0,1410.0,0.0,0.0,1410.0,829.0,59.0,38.0,0.0,0.0,38.0,5.0,13.0,2017
24154,100654,1410.0,1857.0,76.0,1222.0,0.0,0.0,1222.0,705.0,58.0,165.0,0.0,0.0,165.0,51.0,31.0,2016

In [35]:
effy = pd.read_csv("../IPEDS_Dataset_Encoded/12-Month Enrollment/EFFY_2015-2021_data.csv")
effy.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,unitid,effyalev,effylev,lstudy,efytotlt,efytotlm,efytotlw,efyaiant,efyaianm,efyaianw,...,efy2mort,efy2morm,efy2morw,efyunknt,efyunknm,efyunknw,efynralt,efynralm,efynralw,year
0,100654,All students total,All students total,Generated total,6628,2560,4068,18,8,10,...,83,28,55,579,198,381,90,43,47,2021
1,100654,"All students, Undergraduate total",Undergraduate,Undergraduate,5529,2215,3314,15,7,8,...,80,27,53,258,103,155,40,19,21,2021
2,100654,"All students, Undergraduate, Degree/certificat...","Not applicable, undergraduate detail",Undergraduate,5517,2210,3307,15,7,8,...,80,27,53,258,103,155,40,19,21,2021
3,100654,"All students, Undergraduate, Degree/certificat...","Not applicable, undergraduate detail",Undergraduate,1632,677,955,5,2,3,...,32,11,21,70,39,31,5,3,2,2021
4,100654,"All students, Undergraduate, Other degree/cert...","Not applicable, undergraduate detail",Undergraduate,3885,1533,2352,10,5,5,...,48,16,32,188,64,124,35,16,19,2021

In [36]:
effy.loc[effy["unitid"]==100654, ]

,unitid,effyalev,effylev,lstudy,efytotlt,efytotlm,efytotlw,efyaiant,efyaianm,efyaianw,...,efy2mort,efy2morm,efy2morw,efyunknt,efyunknm,efyunknw,efynralt,efynralm,efynralw,year
0,100654,All students total,All students total,Generated total,6628,2560,4068,18,8,10,...,83,28,55,579,198,381,90,43,47,2021
1,100654,"All students, Undergraduate total",Undergraduate,Undergraduate,5529,2215,3314,15,7,8,...,80,27,53,258,103,155,40,19,21,2021
2,100654,"All students, Undergraduate, Degree/certificat...","Not applicable, undergraduate detail",Undergraduate,5517,2210,3307,15,7,8,...,80,27,53,258,103,155,40,19,21,2021
3,100654,"All students, Undergraduate, Degree/certificat...","Not applicable, undergraduate detail",Undergraduate,1632,677,955,5,2,3,...,32,11,21,70,39,31,5,3,2,2021
4,100654,"All students, Undergraduate, Other degree/cert...","Not applicable, undergraduate detail",Undergraduate,3885,1533,2352,10,5,5,...,48,16,32,188,64,124,35,16,19,2021
5,100654,"All students, Undergraduate, Non-degree/certif...","Not applicable, undergraduate detail",Undergraduate,12,5,7,0,0,0,...,0,0,0,0,0,0,0,0,0,2021
6,100654,"All students, Graduate",Graduate,Graduate,1099,345,754,3,1,2,...,3,1,2,321,95,226,50,24,26,2021
7,100654,"All students, Undergraduate, Other degree/cert...","Not applicable, undergraduate detail",Undergraduate,244,105,139,1,1,0,...,3,2,1,3,1,2,2,0,2,2021
8,100654,"All students, Undergraduate, Other degree/cert...","Not applicable, undergraduate detail",Undergraduate,3641,1428,2213,9,4,5,...,45,14,31,185,63,122,33,16,17,2021
9,100654,"Full-time students, Undergraduate total","Not applicable, undergraduate detail",Undergraduate,4910,1960,2950,14,7,7,...,70,23,47,210,87,123,38,19,19,2021
10,100654,"Full-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,4910,1960,2950,14,7,7,...,70,23,47,210,87,123,38,19,19,2021
11,100654,"Full-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,1563,653,910,5,2,3,...,32,11,21,55,32,23,5,3,2,2021
12,100654,"Full-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,3347,1307,2040,9,5,4,...,38,12,26,155,55,100,33,16,17,2021
13,100654,"Full-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,190,83,107,1,1,0,...,1,0,1,1,1,0,2,0,2,2021
14,100654,"Full-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,3157,1224,1933,8,4,4,...,37,12,25,154,54,100,31,16,15,2021
15,100654,"Part-time students, Undergraduate total","Not applicable, undergraduate detail",Undergraduate,619,255,364,1,0,1,...,10,4,6,48,16,32,2,0,2,2021
16,100654,"Part-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,607,250,357,1,0,1,...,10,4,6,48,16,32,2,0,2,2021
17,100654,"Part-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,69,24,45,0,0,0,...,0,0,0,15,7,8,0,0,0,2021
18,100654,"Part-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,538,226,312,1,0,1,...,10,4,6,33,9,24,2,0,2,2021
19,100654,"Part-time students, Undergraduate, Non-degree/...","Not applicable, undergraduate detail",Undergraduate,12,5,7,0,0,0,...,0,0,0,0,0,0,0,0,0,2021
20,100654,"Part-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,54,22,32,0,0,0,...,2,2,0,2,0,2,0,0,0,2021
21,100654,"Part-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,484,204,280,1,0,1,...,8,2,6,31,9,22,2,0,2,2021
103604,100654,All students total,All students total,Generated total,6560,2527,4033,15,5,10,...,70,25,45,481,151,330,92,45,47,2020
103605,100654,"All students, Undergraduate total",Undergraduate,Undergraduate,5479,2193,3286,11,4,7,...,64,22,42,251,91,160,41,21,20,2020
103606,100654,"All students, Undergraduate, Degree/certificat...","Not applicable, undergraduate detail",Undergraduate,5472,2191,3281,11,4,7,...,64,22,42,250,90,160,41,21,20,2020
103607,100654,"All students, Undergraduate, Degree/certificat...","Not applicable, undergraduate detail",Undergraduate,1753,692,1061,2,1,1,...,25,8,17,81,31,50,12,5,7,2020
103608,100654,"All students, Undergraduate, Other degree/cert...","Not applicable, undergraduate detail",Undergraduate,3719,1499,2220,9,3,6,...,39,14,25,169,59,110,29,16,13,2020
103609,100654,"All students, Undergraduate, Non-degree/certif...","Not applicable, undergraduate detail",Undergraduate,7,2,5,0,0,0,...,0,0,0,1,1,0,0,0,0,2020
103610,100654,"All students, Graduate",Graduate,Graduate,1081,334,747,4,1,3,...,6,3,3,230,60,170,51,24,27,2020
103611,100654,"All students, Undergraduate, Other degree/cert...","Not applicable, undergraduate detail",Undergraduate,164,77,87,1,1,0,...,1,1,0,31,17,14,5,3,2,2020
103612,100654,"All students, Undergraduate, Other degree/cert...","Not applicable, undergraduate detail",Undergraduate,3555,1422,2133,8,2,6,...,38,13,25,138,42,96,24,13,11,2020
103613,100654,"Full-time students, Undergraduate total","Not applicable, undergraduate detail",Undergraduate,5088,2015,3073,9,4,5,...,59,20,39,233,81,152,39,20,19,2020
103614,100654,"Full-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,5087,2014,3073,9,4,5,...,59,20,39,233,81,152,39,20,19,2020
103615,100654,"Full-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,1730,679,1051,2,1,1,...,25,8,17,80,31,49,12,5,7,2020
103616,100654,"Full-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,3357,1335,2022,7,3,4,...,34,12,22,153,50,103,27,15,12,2020
103617,100654,"Full-time students, Undergraduate, Non-degree/...","Not applicable, undergraduate detail",Undergraduate,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020
103618,100654,"Full-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,127,61,66,1,1,0,...,0,0,0,26,13,13,5,3,2,2020
103619,100654,"Full-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,3230,1274,1956,6,2,4,...,34,12,22,127,37,90,22,12,10,2020
103620,100654,"Part-time students, Undergraduate total","Not applicable, undergraduate detail",Undergraduate,391,178,213,2,0,2,...,5,2,3,18,10,8,2,1,1,2020
103621,100654,"Part-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,385,177,208,2,0,2,...,5,2,3,17,9,8,2,1,1,2020
103622,100654,"Part-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,23,13,10,0,0,0,...,0,0,0,1,0,1,0,0,0,2020
103623,100654,"Part-time students, Undergraduate, Degree/cert...","Not applicable, undergraduate detail",Undergraduate,362,164,198,2,0,2,...,5,2,3,16,9,7,2,1,1,2020
103624,100654,"Part-time students, Undergraduate, Non-degree/...","Not applicable, undergraduate detail",Undergraduate,6,1,5,0,0,0,...,0,0,0,1,1,0,0,0,0,2020
103625,100654,"Part-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,37,16,21,0,0,0,...,1,1,0,5,4,1,0,0,0,2020
103626,100654,"Part-time students, Undergraduate, Other degre...","Not applicable, undergraduate detail",Undergraduate,325,148,177,2,0,2,...,4,1,3,11,5,6,2,1,1,2020
207308,100654,NaN,All students total,Generated total,6686,2627,4059,17,5,12,...,72,24,48,386,120,266,83,42,41,2019
207309,100654,NaN,Undergraduate,Undergraduate,5530,2290,3240,14,4,10,...,67,22,45,220,85,135,42,22,20,2019
207310,100654,NaN,Graduate,Graduate,1156,337,819,3,1,2,...,5,2,3,166,35,131,41,20,21,2019
221634,100654,NaN,All students total,Generated total,6508,2627,3881,12,2,10,...,63,20,43,243,86,157,90,45,45,2018
221635,100654,NaN,Undergraduate,Undergraduate,5343,2279,3064,10,1,9,...,58,19,39,194,70,124,53,26,27,2018
221636,100654,NaN,Graduate,Graduate,1165,348,817,2,1,1,...,5,1,4,49,16,33,37,19,18,2018
236575,100654,NaN,All students total,Generated total,6392,2655,3737,15,4,11,...,224,82,142,14,5,9,71,44,27,2017
236576,100654,NaN,Undergraduate,Undergraduate,5207,2286,2921,11,3,8,...,210,82,128,11,4,7,38,23,15,2017
236577,100654,NaN,Graduate,Graduate,1185,369,816,4,1,3,...,14,0,14,3,1,2,33,21,12,2017
251970,100654,NaN,All students total,Generated total,6157,2646,3511,14,3,11,...,0,0,0,161,51,110,76,43,33,2016
251971,100654,NaN,Undergraduate,Undergraduate,4865,2258,2607,11,2,9,...,0,0,0,139,48,91,35,20,15,2016
251972,100654,NaN,Graduate,Graduate,1292,388,904,3,1,2,...,0,0,0,22,3,19,41,23,18,2016
267696,100654,NaN,All students total,Generated total,5872,2628,3244,12,3,9,...,0,0,0,98,36,62,67,36,31,2015
267697,100654,NaN,Undergraduate,Undergraduate,4549,2223,2326,10,2,8,...,0,0,0,76,31,45,28,14,14,2015
267698,100654,NaN,Graduate,Graduate,1323,405,918,2,1,1,...,0,0,0,22,5,17,39,22,17,2015

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3248: DtypeWarning: Columns (1,17,18,19,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

## Libraries

In [ ]:
ac_lib = access("Academic Libraries/AL_2015-2020_data.csv")

In [ ]:
'''
Relevant response variables:
â€“LPBOOKS: Number of physical books
â€“LEBOOKS: Number of digital/electronic books
â€“LEDATAB: Number of digital/electronic databases
â€“LSTOTAL: Total library FTE staff
â€“LSWMSOM: Salaries/wages, materials/services, and operations maintenance
â€“LEXPTOT: Total expenditures (salaries/wages, benefits, materials/services, and operations/maintenance)
'''

In [55]:
plt.plot(ac_lib["year"], ac_lib["lexptot"])

NameError: name 'plt' is not defined

## Employees by Assigned Position

In [47]:
eap = access("Employees By Assigned Position/EAP_2015-2020_data.csv")

In [54]:
eap["occupcat"].unique()

array(['All staff', 'Instructional, research and public service staff',
       'Instructional staff, total',
       'Instructional staff, primarily instruction',
       'Instructional staff, primarily instruction, exclusively credit',
       'Instructional staff - Instruction/research/public service',
       'Research',
       'Librarians/Library Technicians/Archivists and Curators, and Museum technicians/Student and Academic Affairs and Other Education Services',
       'Librarians, Curators, and Archivists',
       'Archivists, Curators, and Museum Technicians', 'Librarians',
       'Student and Academic Affairs and Other Education Services',
       'Management', 'Business and Financial Operations',
       'Computer, Engineering, and Science',
       'Community Social Service, Legal, Arts, Design, Entertainment, Sports and Media',
       'Healthcare Practioners and Technical', 'Service Occupations',
       'Sales and Related Occupations',
       'Office and Administrative Support',
       'Natural Resources, Construction, and Maintenance',
       'Production, Transportation, and Material Moving',
       'Graduate Assistants Total', 'Graduate Assistants  other',
       'Graduate Assistants Teaching', 'Library Technicians',
       'Graduate Assistants Research',
       'Instructional staff, primarily instruction, exclusively not-for-credit',
       'Public service',
       'Instructional staff, primarily instruction, combined credit/not-for-credit',
       'Detailed library occupations not available for non-degree-granting institutions',
       'Librarians/Library Technicians/Archivists and Curators, and Museum technicians/Student and Academic Affairs and Other Eduation Services',
       'Graduate Assistants',
       'Graduate Assistants Business and Financial Operations Occupations',
       'Graduate Assistants Computer, Engineering, and Science Occupations',
       'Graduate Assistants Community Social Service, Legal, Arts, Design, Entertainment, Sports and Media',
       'Library and Student and Academic Affairs and Other Education Services',
       'Graduate Assistants Management Occupations',
       'Graduate Assistants Healthcare Practioners and Technical'],
      dtype=object)

In [52]:
eap[(eap["unitid"]==100654)][(eap["occupcat"]=="All staff")][(eap["facstat"]=="All staff")]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,unitid,eapcat,occupcat,facstat,eaptot,eaptyp,eapmed,eapft,eapfttyp,eapftmed,eappt,eappttyp,eapptmed,year
0,100654,All staff,All staff,All staff,918,918.0,NaN,762.0,762.0,NaN,156.0,156.0,NaN,2020
293460,100654,All staff,All staff,All staff,951,951.0,NaN,725.0,725.0,NaN,226.0,226.0,NaN,2019
593039,100654,All staff,All staff,All staff,977,977.0,NaN,794.0,794.0,NaN,183.0,183.0,NaN,2018
899265,100654,All staff,All staff,All staff,1017,1017.0,NaN,783.0,783.0,NaN,234.0,234.0,NaN,2017
1215513,100654,All staff,All staff,All staff,981,981.0,NaN,779.0,779.0,NaN,202.0,202.0,NaN,2016
1535799,100654,All staff,All staff,All staff,963,963.0,NaN,766.0,766.0,NaN,197.0,197.0,NaN,2015

In [ ]:
'''
Relevant Response Variables
â€“Total employees by each category
â€“â€“â€“Occuptation: All staff; Instructional, research and public service staff; Instructional staff; 
'''

## A Manifold of Schools

In [57]:
import Notebooks.SchoolManifold

ModuleNotFoundError: No module named 'Notebooks.SchoolManifold'